@page
@model IndexModel
@{
    ViewData["ActivePage"] = ManageNavPages.Index;
}

<div class="row">
    <h3> Hello again @Model.Username! </h3>
    <br />
    <p> You can navigate through different user options using navigation available on the screen. </p>
</div>

@if (!string.IsNullOrEmpty(Model.SuccessMessage))
{
    <div class="alert alert-success alert-dismissible" role="alert">
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        @Model.SuccessMessage
    </div>
}

@if (Model.IfProfileCreated == false)
{
    <div class="row">
        <p> Looks like you still don't have your Player Profile. You can create one by clicking on a link below:</p>
        <a href="./Manage/CreatePlayerProfile" class="w-100 btn btn-lg btn-primary"> Create Player Profile </a>
    </div>
}
