@page
@model BoardgameFavouritesModel
@{
    ViewData["Title"] = "Check your favourite boardgames";
}

<div class="container">
    <div class="row p-3 mb-3">
        <h6> @ViewData["Title"]</h6>
    </div>
    <div class="row p-3">
        <div class="d-flex flex-row flex-wrap text-center">
            @if (Model.UserFavouriteBGs.Count == 0)
            {
                <p> It looks like you still haven't decided on which boardgames you like the most :) </p>
                <p> Don't worry, you can always change that by using our Finder panel to find something you may find interesting. </p>
            }
            else
            {
                @foreach (var boardgame in Model.UserFavouriteBGs)
                {
                    <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 mb-3 p-2">
                        <a asp-area="Boardgame" asp-page="Index" asp-route-BoardgameID="@boardgame.BGGId">
                            <div class="card">
                                <img src="data:image/*;base64,@(Convert.ToBase64String(boardgame.Image!))" class="card-img-top img-round" alt="" width="200" height="200">
                                <div class="card-body">
                                    <h6 class="card-title text-truncate"> @boardgame.Name </h6>
                                    <h6 class="card-text"><small class="text-muted">@boardgame.YearPublished</small></h6>
                                </div>
                            </div>
                        </a>
                    </div>
                }
            }
        </div>
    </div>
</div>
