@page
@model BoardGameBrawl.App.Areas.AppUser.Pages.BoardgameVotesModel
@{
    ViewData["Title"] = "List of your boardgame votes";
}

<div class="container">
    <div class="row p-3 mb-3">
        <h3>@ViewData["Title"]</h3>
    </div>

    @if (Model.PlayerPreferenceDTOs.Count == 0)
    {
        <div class="row p-3 mb-3 text-center">
            <h3>This user hasn't voted for any boardgames</h3>
        </div>
    }

    <div class="row row-cols-2 row-cols-md-3 row-cols-lg-4">
        @foreach (var preference in Model.PlayerPreferenceDTOs)
        {
            <div class="col">
                <div class="card-body text-center">
                    <img src="data:image/*;base64,@(Convert.ToBase64String(preference.Boardgame_Image!))" class="card-img-top img-round" alt="" width="200" height="200">
                    <h5 class="card-title">@preference.Boardgame_Name </h5>
                    <h5 class="card-title">Rating: @preference.Rating </h5>
                </div>
            </div>
        }
    </div>
</div>