@model IList<BoardGameBrawl.Application.DTOs.Entities.Match_Related.MatchRuleSetDTO>

<div class="container">
    <div class="text-center p-3 mb-3">
        <h5>Boardgame Rules</h5>
    </div>

    @if (Model.Count == 0)
    {
        <div class="text-center p-3 mb-3">
            <h5> There is no boardgame rules at the moment </h5>
        </div>
    }
    else
    {
        
    }
</div>