@page
@model BoardGameBrawl.App.Areas.Boardgame.Pages.FindSimilarModel
@{
    ViewData["Title"] = "Find Similar Boardgames";
}

<div class="container">
    <div class="row">
        
    </div>
</div>
