@page "{GroupName}"
@model BoardGameBrawl.App.Areas.Group.Pages.GroupAdminsModel
@{
    ViewData["Title"] = "Group Administrators";
}

<div class="container">
    <div class="row p-3 mb-3">
        <h5> There is list of group administrators: </h5>
    </div>
    <div class="row row-cols-2 row-cols-md-3 row-cols-lg-4 row-cols-xl-6 g-4">
        <br />
        @foreach (var admin in Model.GroupAdmins!)
        {
            <div class="col">
                <a asp-area="Player" asp-page="/Index" asp-route-UserName="@admin.PlayerName">
                    <div class="card h-100 shadow-sm">
                        @if (admin.UserAvatar != null)
                        {
                            <img src="data:image/*;base64,@(Convert.ToBase64String(admin.UserAvatar!))" class="card-img-top img-round img-fluid" alt="" width="200" height="200">
                        }
                        else
                        {
                            <img src="~/img/user.png" class="card-img-top img-round" alt="" width="200" height="200">
                        }
                        <div class="card-body">
                            <h6 class="card-title text-truncate text-center"> @admin.PlayerName </h6>
                        </div>
                    </div>
                </a>
            </div>
        }
    </div>
</div>