@page "{Id}"
@model ChangeUserPasswordModel
@{
    ViewData["Title"] = "Change user's password";
    ViewData["ActivePage"] = AdminWorkflowsPages.Passwords;
}

<h3>@ViewData["Title"]</h3>
<div class="container">
    <div class="row">
        <div class="col p-1">
            <form id="password-change-form" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger" />
                <input type="hidden" asp-for="Id" />
                <div class="form-floating mb-3">
                    <input asp-for="NewPassword" class="form-control" autocomplete="" aria-required="true"/>
                    <label asp-for="NewPassword" class="form-label"> New Password </label>
                    <span asp-validation-for="NewPassword" class="text-danger"></span>
                </div>
                <div class="form-floating mb-3">
                    <input asp-for="ConfirmationPassword" class="form-control" autocomplete="" aria-required="true" />
                    <label asp-for="ConfirmationPassword" class="form-label"> Confirm Password </label>
                    <span asp-validation-for="ConfirmationPassword" class="text-danger"></span>
                </div>
                <div>
                    <button type="submit" class="btn btn-success btn-block">Change password</button>
                    <a asp-page="Passwords" asp-route-PageNumber="1" class="btn btn-primary btn-block">Cancel</a>
                </div>
            </form>
        </div>
    </div>
</div>
    
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}