@page 
@model IndexModel
@{
    ViewData["Title"]= "Admin Main Page";
    ViewData["ActivePage"] = AdminWorkflowsPages.Index;
}

<h2>Welcome to Administrator Panel</h2>
<br />
<p> You can navigate through different administrator option choosing one of the options, listed on Administration Panel </p>
