@page
@model BoardGameBrawl.App.Areas.Identity.Pages.Admin.PlayerProfilesModel
@{
    ViewData["Title"] = "Manage Player Profiles";
    ViewData["ActivePage"] = AdminWorkflowsPages.PlayerProfiles;
}

<div class="container">
    <div class="row">
        <div class="p-3">
            <h3>@ViewData["Title"]</h3>
            <br />
            
        </div>
    </div>
</div>
