@page "{Id}"
@model ChangeUserPasswordModel
@{
    ViewData["Title"] = "Change user password";
    ViewData["ActivePage"] = AdminWorkflowsPages.Passwords;
}

<div class="container">
    <div class="row">
        <div class="col p-3">
            <h3>@ViewData["Title"]</h3>
            <br />
            <form id="password-change-form" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger" />
                <input type="hidden" asp-for="Id" />
                <div class="form-floating mb-3">
                    <input asp-for="Input.NewPassword" class="form-control" autocomplete="" aria-required="true"/>
                    <label asp-for="Input.NewPassword" class="form-label"> New Password </label>
                    <span asp-validation-for="Input.NewPassword" class="text-danger"></span>
                </div>
                <div class="form-floating mb-3">
                    <input asp-for="Input.ConfirmationPassword" class="form-control" autocomplete="" aria-required="true" />
                    <label asp-for="Input.ConfirmationPassword" class="form-label"> Confirm Password </label>
                    <span asp-validation-for="Input.ConfirmationPassword" class="text-danger"></span>
                </div>
            </form>
            <br />
            <div class="d-flex flex-row align-items-center justify-content-around text-center">
                <button type="submit" class="btn btn-success btn-block w-25">Change password</button>
                <a asp-page="Passwords" asp-route-PageNumber="1" class="btn btn-primary btn-block w-25">Cancel</a>
            </div>
        </div>
    </div>
</div>
    
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}