@page 
@model DashboardModel
@{
    ViewData["Title"] = "Admin Dashboard";
    ViewData["ActivePage"] = AdminWorkflowsPages.Dashboard;
}

<div class="container">
    <div class="row">
        <div class="col p-3">
            <h3> @ViewData["Title"] </h3>
            </br>
            <table class="table table-sm table-striped table-bordered"> 
                <tr>
                    <th>Users in store:</th>
                    <td>@Model.UsersCount</td>
                </tr> 
                <tr>
                    <th>Unconfirmed accounts:</th>
                    <td>@Model.UsersUnconfirmed</td>
                </tr> 
            </table>
        </div>
    </div>
</div>