@page 
@model IndexModel
@{
    ViewData["Title"]= "Admin Main Page";
    ViewData["ActivePage"] = AdminWorkflowsPages.Index;
}

<div class="container">
    <div class="row">
        <div class="col p-3">
            <h3>Welcome to Administrator Panel</h3>
            <br />
            <p> You can navigate through different administrator option choosing one of the options, listed on Administration Panel </p>
        </div>
    </div>
</div>

