@page "{Id}"
@model ViewUserModel
@{
    ViewData["Title"] = "View user data";
    ViewData["ActivePage"] = AdminWorkflowsPages.ManageUsers;
}

<div class="container">
    <div class="row">
        <div class="p-3">
            <h3>@ViewData["Title"]</h3>
            <br />
            <table class="table table-sm table-striped table-bordered text-center mb-3">
                <thead>
                    <tr>
                        <th> Key </th>
                        <th> Value </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (string name in Model.PropertyNames)
                    {
                        <tr>
                            <td><strong> @name </strong></td>
                            <td class="text-truncate" style="max-width:250px">
                                @Model.GetValue(name)
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
            <br />
            <div class="d-flex flex-row align-items-center justify-content-around">
                <a asp-page="ManageUsers" asp-route-PageNumber="1" class="w-50 btn btn-primary btn-block"> Back </a>
            </div>
        </div>
    </div>
</div>
