@page "{UserName}"
@model BoardGameBrawl.App.Areas.Player.Pages.UserModerationsModel
@{
    ViewData["Title"] = "Check boardgames that user can modify";
    ViewData["ActivePage"] = PlayerWorkflowsPages.PlayerModeration;
}

<div class="container">

    @if (Model.NavBoardgameDTOs!.Count == 0)
    {
        <div class="row text-center p-3 mb-3">
            <h3> That user doesn't have any moderator privileges at the moment </h3>
        </div>
    }
    else
    {
        <div class="d-flex flex-row flex-wrap text-center">
            @foreach (var boardgame in Model.NavBoardgameDTOs)
            {
                <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 mb-3 p-2">
                    <a asp-area="Boardgame" asp-page="Index" asp-route-BoardgameId="@boardgame.BGGId">
                        <div class="card">
                            <img src="data:image/*;base64,@(Convert.ToBase64String(boardgame.Image!))" class="card-img-top" alt="" width="200" height="200" />
                            <div class="card-body">
                                <h6 class="card-title text-truncate"> @boardgame.Name </h6>
                                <h6 class="card-text"><small class="text-muted">@boardgame.YearPublished</small></h6>
                            </div>
                        </div>
                    </a>
                </div>
            }
        </div>
    }
</div>
<style>
    a {
        text-decoration: none;
        color: black;
    }

    .img-fit {
        object-fit: contain;
    }
</style>
